[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "*"
pandas = "*"
matplotlib = "*"
yfinance = "*"
numpy = "*"
scipy = "*"
openpyxl = "*"

[dev-packages]
isort = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.14"
